*{
margin: 0;
padding:0;
box-sizing: border-box;
}

html,body {
width: 1000px;
height: 1250px;
margin: 0;
background-color: #f4f0e6
}

img { 
width: 975px;
height: 650px;
display: block;
margin: 0 auto;
  border-radius: 20px;
}

.menu-button{
position: absolute;
top: 50px;
right: -299px;
 color: #f4f0e6;
  padding: 6px 20px;
  border: 2px solid #f4f0e6;
  border-radius: 999px;
  background-color:#000000;

}

h1{
  position: relative;
  top: -20px;
  right: -20px;
  
  font-size: 500%;
 text-align: left;
 font-family: "helvetica", sans-serif, allcaps;

}

 .tagline-1 {
font-size: 14px;
position: absolute;
top: 55px;
right: 60px;
}

#breakline-1, #breakline-2 {

 height: 2px;
 background-color: #7f7d79;
 border: 0;
 width: 97%;
margin: 24px auto;
}

