*{
margin: 0;
padding:0;
box-sizing: border-box;
}

html,body {
width: 1000px;
height: 1185px;
margin: 0;
background-color: #f4f0e6;
}

img { 
width: 975px;
height: 650px;
display: block;
margin: 0;
  border-radius: 20px;
position:relative ;
right: -20px;
}

.menu-button{
position: absolute;
top: 35px;
right: -315px;
 color: #f4f0e6;
  padding: 6px 20px;
  border: 2px solid #f4f0e6;
  border-radius: 999px;
  background-color:#000000;

}

@font-face {
    font-family: "Drephonic";
    src: url("/fonts/drephonic.otf");
}

h1{
  position: relative;
  top: -35px;
  right: -20px;
  font-size: 500%;
 text-align: left;
font-family: Drephonic;
line-height: 60px;
font-weight: 200;
}

 .tagline-1 {
font-size: 14px;
font-family: Drephonic;
font-weight: 600;
position: absolute;
top: 35px;
right: 50px;
}

#breakline-1, #breakline-2 {
  top: 20px ;
 height: 2px;
 background-color: #7f7d79;
 border: 0;
 width: 97%;
margin: 24px auto;
}

#breakline-1 {
  position: relative;
top: -20px;
}

.tagline-2{
 position: relative;
 top: -20px;
 right: -18px;
font-family: Drephonic;

}

h2{
  position: absolute;
  bottom: -240px;
  right: 140px;
font-family: Drephonic;
font-size: 70px;
font-weight: 200;
line-height: 55px;

}
