*{
margin: 0;
padding:0;
box-sizing: border-box;
background-color: #f4f0e6 
}

html,body {
width: 1000px;
height: 1250px;
margin: 0;
}

img { 
width: 975px;
height: 650px;
display: block;
margin: 0 auto;
  border-radius: 20px;
}

h1{
    font-size: 200%;
 text-align: left;
 font-family: "helvetica", sans-serif, allcaps;

}

p #tagline-1 {

text-align: center

}

